body{
    background-color: azure;
    color: midnightblue;
    font-family: arial, sans-serif;
}
h1{
    color: darkslategrey;
    font-family: arial, sans-serif;
}
.wrapper{
    display:grid;
    grid-template-columns: 40% 60%;
    grid-column-gap:1em;
    grid-row-gap:1em;
    /*
    or grid-gap:1em;
     */
}
.wrapper > div{
    background:#eee;
    padding:1em;
}
.wrapper > div:nth-child(odd){
    background:#ddd;
}
