body{
    background-color: azure;
    color: midnightblue;
    font-family: arial, sans-serif;
}
h1{
    color: darkslategrey;
    font-family: arial, sans-serif;
}
.container-1{
    display:flex;
}

.container-1 div{
    border: 1px #ccc solid;
    padding: 10px;
}

.box-1{
    flex:1;
    order:1;
}

.box-2{
    flex:2;
    order:2;
}

.box-3{
    flex:1;
    order:3;
}
.container-2{
    display:flex;
    justify-content: space-between;
}
.container-2 div{
    border: 1px #ccc solid;
    padding: 10px;
}

.box-4{
    flex:1;
    width: 30%;
}

